.heroicon-engine::before,
.heroicon-wheel::before {
    content: "";
}

.download-icon::before {
    content: "";
}

.share-icon::before {
    content: "";
}

.specifications-wrapper {
    position: relative;
}

.specifications-wrapper a:hover {
    text-decoration: none;
}

.specifications-wrapper .specs-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.block-heading {
    text-align: center;
    margin-bottom: 90px;
}

.specifications-wrapper .specs-header a {
    color: #000;
}

.specs-header a div {
    font-weight: 900;
}

.specs-header .spec-item {
    background: rgb(254 248 242);
    min-width: 8.125rem;
    min-height: 6.625rem;
    z-index: 99;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    transform: skewX(-16deg);
}

.specs-header .active {
    background: linear-gradient(
        160.69deg,
        #b50000 22.35%,
        #f00 68.47%,
        #b50000 114.59%
    );
}

.specs-header .active div {
    color: #fff;
}

.specs-body .specs-article {
    padding-top: 100px;
    padding-bottom: 30px;
    display: none;
    background-color: #ededed;
}

.specs-body .specs-article.active {
    display: block;
}

.specs-article .more-info-wrapper {
    display: flex;
    justify-content: end;
    margin: 0 2.5rem 1.625rem;
}

.specs-article .more-info-wrapper a {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: 20px;
}

.specs-article .more-info-wrapper a span {
    padding-left: 10px;
}

.specs-body .specs-article .specs-main {
    display: flex;
}

.specs-body .specs-article .specs-main > div {
    width: 33.33%;
}

.specs-body .specs-article .specs-main .specs-image > div {
    height: 16.75rem;
    width: 16.75rem;
    margin: auto;
}

.bike-banner {
    display: flex;
    justify-content: end;
    padding-right: 33px;
    opacity: 0.25;
}

@media (width <= 1023px) {
    .specs-body .specs-article .specs-main > div {
        width: 100%;
    }

    .specs-body .specs-article .specs-main .bike-banner {
        display: none;
    }

    .specs-body .specs-article .specs-main {
        flex-direction: column;
    }

    .specs-body .specs-article.active {
        display: flex;
        flex-direction: column-reverse;
    }
}